https://{{ faker.user_name() }}:{{ faker.password(length=40, special_chars=False) }}@github.com
https://{{ faker.user_name() }}:glpat-{{ faker.hexify(text='????????????????????') }}@gitlab.{{ faker.domain_name() }}
