apiVersion: v1
kind: Secret
metadata:
  name: {{ faker.slug() }}-credentials
  namespace: production
type: Opaque
data:
  DB_HOST: {{ faker.ipv4_private() | b64encode }}
  DB_PORT: {{ "5432" | b64encode }}
  DB_USER: {{ faker.user_name() | b64encode }}
  DB_PASSWORD: {{ faker.password(length=24, special_chars=True) | b64encode }}
  REDIS_URL: {{ ("redis://" ~ faker.ipv4_private() ~ ":6379/0") | b64encode }}
  API_SECRET: {{ faker.sha256() | b64encode }}
  JWT_SIGNING_KEY: {{ faker.sha256() | b64encode }}
