apiVersion: v1
kind: Config
current-context: production-cluster
clusters:
  - cluster:
      server: https://{{ faker.ipv4_private() }}:6443
      certificate-authority-data: {{ faker.sha256() }}{{ faker.sha256() }}
    name: production-cluster
contexts:
  - context:
      cluster: production-cluster
      user: admin
      namespace: default
    name: production-cluster
users:
  - name: admin
    user:
      token: {{ faker.sha256() }}{{ faker.sha256()[:32] }}
