//registry.npmjs.org/:_authToken={{ faker.hexify(text='????????-????-????-????-????????????') }}
//npm.{{ faker.domain_name() }}/:_authToken={{ faker.sha256()[:40] }}
registry=https://npm.{{ faker.domain_name() }}/
always-auth=true
